<main>
	<div class="Header">
		<p class="Header_Link_Selected">Inicio</p>
		<p class="Header_Link" routerLink="/404">Cejusa</p>
		<p class="Header_Link" routerLink="/404">Censes</p>
		<p class="Header_Link" routerLink="/404">Parroquia</p>
		<p class="Header_Link" routerLink="/404">Pastoral Juvenil</p>
		<p class="Header_Link" routerLink="/404">Salesianos</p>
	</div>
	<div class="Sub_Header">
		<p class="Header_Link_Selected">ITSI</p>
		<p class="Header_Link" routerLink="/boletin">Boletín Salesiano</p>
		<p class="Header_Link" routerLink="/iglesia">Iglesia</p>
		<p class="Header_Link" routerLink="/inspectoria">Inspectoría</p>
		<p class="Header_Link" routerLink="/noticias">Noticias</p>
		<p class="Header_Link" routerLink="/sobre-nosotros">Sobre Nosotros</p>
		<p class="Header_Link" routerLink="/contacto">Contáctanos</p>
	</div>
	<div class="Fixed_Image" style="background-image:url('./../../../assets/Background_Cejusa.jpg'); height:42rem; background-position:top;">
		<h1 class="Title">ITSI</h1>
		<h2>Instituto Teológico Salesiano Interinspectorial.</h2>
	</div>
	<div class="Block">
		<h1>Quiénes somos.</h1>
			<div class="Horizontal_Layout">
			<img class="Logo" src="./../../../assets/Salesianos.png"/>
		</div>
		<h2>MISIÓN</h2>
			<li>Somos una comunidad de salesianos consagrados que, corresponsablemente con laicos, nos dedicamos a educar y evangelizar a los niños, adolescentes, jóvenes y sus familias, priorizando a los menos favorecidos con el método educativo Don Bosco, ofreciéndoles una propuesta que los prepare a integrarse al mundo de la cultura y del trabajo digno y a ser miembros vivos de la sociedad y de la Iglesia.</li>
			<h2>VISIÓN</h2>
			<ul>
				<li>Una comunidad de consagrados que testimonian la radicalidad evangélica.</li>
				<li>La significatividad de sus obras, en atención a las necesidades de los niños, adolescentes y jóvenes en: prevención, educación y evangelización.</li>
				<li>La corresponsabilidad entre salesianos y laicos.</li>
				<li>Una oferta de servicio educativo-pastoral pertinente, flexible y de calidad.</li>
			</ul>
	</div>
	<app-footer></app-footer>
</main>