<main>
	<div class="Header">
		<p class="Header_Link_Selected">Inicio</p>
		<p class="Header_Link">Cejusa</p>
		<p class="Header_Link">Censes</p>
		<p class="Header_Link">Parroquia</p>
		<p class="Header_Link">Pastoral Juvenil</p>
		<p class="Header_Link">Salecianos</p>
	</div>
	<div class="Menu">
		<p class="Menu_Link_Selected">ITSI</p>
		<p class="Menu_Link">Buletín Saleciano</p>
		<p class="Menu_Link">Iglesia</p>
		<p class="Menu_Link">Inspectoría</p>
		<p class="Menu_Link" routerLink="/news">Noticias</p>
		<p class="Menu_Link">Sobre Nosotros</p>
		<p class="Menu_Link">Contáctanos</p>
	</div>
	<div class="Fixed_Image">
		<h1 class="Title">ITSI</h1>
	</div>
	<footer class="Footer">
		<p>Contáctanos: </p>
		<button class="Login" routerLink="/sign-in">Inicia Sesión</button>
	</footer>
</main>