*, div {
	color: rgb(225, 225, 225);
	margin: 0;
	padding: 0;
	border-width: 0;
	border-radius: 0;
	border-style: solid;
	border-color: white;
	box-sizing: border-box;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	user-select: none;
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	cursor: auto;
}
html, body, .Body {
	margin: 0;
	padding: 0;
	width: 100vw;
	max-width: 100vw;
	min-height: 100vh;
	height: fit-content;
	color:rgb(225,225,225);
	background-color: rgb(20, 20, 20);
	overflow-x: clip;
}
.Fit {
	max-width: 100vw;
	overflow-x: hidden;
}
div {
	display: flex;
	justify-content: center;
	align-items: center;
}
.Column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.Row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.Col_Start {
	justify-content: flex-start;
}
.Row_Start {
	align-items: flex-start;
}

.Block, .Block_Container {
	margin-top: 1rem;
	aspect-ratio: 16/9;
	width: 75vw;
	justify-content: space-around;
	border-radius: 10px;
	overflow: clip;
	border-width: 1px;
	overflow: hidden;
}

@media only screen and (max-width: 750px) {
	.Block {
		width: 95vw;
	}
}
.Block_Container{
	padding-top: 1rem;
	background: rgb(36, 50, 72);
}

main {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100vw;
}

.Container{
	background: rgb(50, 50, 50);
	border-radius: 10px;
	border-width: 1px;
	width: 36vw;
	height: 6rem;
	padding-left: 2vw;
	padding-right: 2vw;
	overflow: clip;
	overflow-y: hidden;
	transition: 0.75s;
}
.Container h3 {
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.Container div {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 10px;
	opacity: 0;
	transition:1s;
}
.Container:hover {
	height: 40rem;
	background: rgb(75, 75, 75);
}
.Container:hover div {
	opacity: 1;
}
@media only screen and (max-width: 750px) {
	.Container {
		width: 45vw;
		height: 5rem;
	}
	.Container div {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 2px;
	}
	.Container:hover {
		height: 23rem;
	}
}

.Card {
	width: 75vw;
	justify-content: space-around;
	margin-top: 5vw;
	height: 42rem;
	background: rgb(36, 50, 72);
	border-radius: 10px;
	overflow: clip;
}
@media only screen and (max-width: 750px) {
	.Card {
		width: 95vw;
		height: 15rem;
	}
}
.End_Card {
	width: 75vw;
	justify-content: space-around;
	height: 42rem;
	background: rgb(36, 50, 72);
	border-radius: 10px;
	overflow: clip;
}
@media only screen and (max-width: 750px) {
	.End_Card {
		width: 95vw;
		height: 25rem;
	}
}
.Background{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: rgb(200, 200, 200);
	background-blend-mode: multiply;

	width: 100%;
	height: 100%;
	scale: 1.1;
}

h1 {
	font-size: 6vw;
	font-weight: 900;
	-webkit-text-stroke: 0.5px rgb(0,0,0);
	text-shadow: 0 0 10px rgb(90, 150, 255);
}
h2 {
	font-size: 4vw;
	font-weight: 900;
	-webkit-text-stroke: 0.5px rgb(0,0,0);
	text-shadow: 0 0 10px rgb(90, 150, 255);
}
h3 {
	font-size: 3vw;
	font-weight: 500;
}
h4 {
	margin-top: 4rem;
	margin-bottom: 1rem;
	font-size: 4vw;
	font-weight: 500;
}
p {
	width: 80%;
	font-size: 1.8vw;
	font-weight: 900;
	text-align: center;
}
@media only screen and (max-width: 750px) {
	h1 {
		font-size: 10vw;
		font-weight: 900;
	}
	h2 {
		font-size: 8vw;
		font-weight: 900;
	}
	h3 {
		font-size: 4vw;
		font-weight: 500;
	}
	h4 {
		margin-top: 1rem;
		margin-bottom: 0.5rem;
		font-size: 8vw;
		font-weight: 500;
	}
	p {
		font-size: 3vw;
	}
}

.Abs {
	z-index: 100;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.Scroll_Area {
	position: sticky;
	top: 0;
	left: 0;
	height: 100vh;
	width: fit-content;
	-webkit-mask-image: linear-gradient(0deg, transparent 0%, white 10%, white 90%, transparent 100%);
}
.Scroll_Slide {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	translate: 0 -240vh;
}
@media only screen and (max-width: 750px) {
	.Scroll_Area {
		width: 100vw;
		height: fit-content;
		-webkit-mask-image: linear-gradient(90deg, transparent 0%, white 10%, white 90%, transparent 100%);
	}
	.Scroll_Slide {
		flex-direction: row;
		translate: 250vw 0;
	}
}

.Technology {
	margin: 0.1rem;
	margin-bottom: 0.5rem;
	margin-top: 0.5rem;
	height: 5vw;
	width: 5vw;
	transition: 0.3s;
}
.S {
	height: 3vw;
	width: 3vw;
}
.Technology:hover {
	transform: scale(1.1);
	animation: iconWiggle 0.3s linear;
}
@media only screen and (max-width: 750px) {
	.Technology {
		margin: 0.05rem;
		height: 10vw;
		width: 10vw;
	}
}
@keyframes iconWiggle {
	0% {
		rotate: 0deg;
	}
	25% {
		rotate: 3deg;
	}
	50% {
		rotate: -3deg;
	}
	100% {
		rotate: 0deg;
	}
}
@keyframes slide {
	0% {
		opacity: 0;
		transform: translateY(50%);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.Slide_Left {
	translate: 100vw 0;
}
.Slide_Right {
	translate: -100vw 0;
}

.Hello_Div {
	position: absolute;
	top: 3vw;
	left: 5vw;
}
.Gif {
	width: 15vw;
	height: 15vw;
	border-radius: 10px;
}

.HSR {
	position: absolute;
	height: 100%;
	scale: 1.1;
}
.Bounce p {
	-webkit-text-stroke: 0.25px rgb(0,0,0);
	text-shadow: 0 0 2px rgb(20, 35, 62);
}
.Bounce {
	animation: bounce 1.6s  linear 0.1s infinite;
}

@keyframes bounce {
	0% {
		translate: -5px 0px;
	}
	10% {
		translate: -1px -6px;
	}
	25% {
		translate: 0px -7.55px;
	}
	40% {
		translate: 3px -6px;
	}
	50% {
		translate: 5px 0px;
	}
	60% {
		translate: 3px -6px;
	}
	75% {
		translate: 0px -7.5px;
	}
	90% {
		translate: -3px -6px;
	}
	100% {
		translate: -5px 0px;
	}
}