<main>
	<div class="Block">
		<div class="Sidebar">
			<p class="Nav">Mi Perfil</p>
			<p class="Nav" routerLink="/crear-noticia">Crear Noticia</p>
			<p class="Nav" routerLink="/crear-boletin">Crear Boletín</p>
			<p class="Nav" (click)="authService.SignOut()">Cerrar Sesión</p>
		</div>

		<div class="Body">
			<div class="Welcome" *ngIf="authService.userData as user">
					<h3>Bienvenido! {{(user.displayName) ? user.displayName : 'User'}}</h3>
					<!-- <p>User ID: <strong>{{user.uid}}</strong></p>
					<p>Email: <strong>{{user.email}}</strong></p>
					<p>Email Verified: <strong>{{user.emailVerified}}</strong></p> -->
			</div>
		</div>
	</div>
</main>