.Block {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
}

h3 {
	background: transparent;
	cursor: default;
}

.Body {
	padding: 2.5rem;
}

.Sidebar {
	width:15rem;
	border-right-width: 2px;
	height: 100vh;
}

.Nav {
	width: 100%;
	margin: 0;
	height: fit-content;
	padding-left: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	font-size: 18pt;
	color:rgb(190, 210, 255);
	border-bottom-width: 1px ;
	border-radius: 5px;
	text-decoration: none;
	cursor: pointer;
	transition: 0.2s ease-in-out;
}

.Nav:hover {
	background: rgb(50,50,50);
}
