<main>
	<div class="Header">
		<p class="Header_Link_Selected">Inicio</p>
		<p class="Header_Link">Cejusa</p>
		<p class="Header_Link">Censes</p>
		<p class="Header_Link">Parroquia</p>
		<p class="Header_Link">Pastoral Juvenil</p>
		<p class="Header_Link">Salesianos</p>
	</div>
	<div class="Sub_Header">
		<p class="Header_Link" routerLink="/hogar">ITSI</p>
		<p class="Header_Link" routerLink="/buletin">Buletín Salesiano</p>
		<p class="Header_Link_Selected">Iglesia</p>
		<p class="Header_Link" routerLink="/inspectoria">Inspectoría</p>
		<p class="Header_Link" routerLink="/noticias">Noticias</p>
		<p class="Header_Link" routerLink="/sobre-nosotros">Sobre Nosotros</p>
		<p class="Header_Link" routerLink="/contacto">Contáctanos</p>
	</div>
	<div class="Fixed_Image" style="background-image:url('./../../../../assets/Background.jpg'); height:20rem;">
		<h1 class="Title">Iglesia</h1>
	</div>
	<div class="Block">
		
	</div>
	<app-footer></app-footer>
</main>