<main>
	<div class="Header">
		<p class="Header_Link_Selected">Inicio</p>
		<p class="Header_Link" routerLink="/404">Cejusa</p>
		<p class="Header_Link" routerLink="/404">Censes</p>
		<p class="Header_Link" routerLink="/404">Parroquia</p>
		<p class="Header_Link" routerLink="/404">Pastoral Juvenil</p>
		<p class="Header_Link" routerLink="/404">Salesianos</p>
	</div>
	<div class="Sub_Header">
		<p class="Header_Link" routerLink="/hogar">ITSI</p>
		<p class="Header_Link" routerLink="/boletin">Boletín Salesiano</p>
		<p class="Header_Link_Selected">Iglesia</p>
		<p class="Header_Link" routerLink="/inspectoria">Inspectoría</p>
		<p class="Header_Link" routerLink="/noticias">Noticias</p>
		<p class="Header_Link" routerLink="/sobre-nosotros">Sobre Nosotros</p>
		<p class="Header_Link" routerLink="/contacto">Contáctanos</p>
	</div>
	<div class="Fixed_Image" style="background-image:url('./../../../../assets/Background.jpg'); height:20rem;">
		<h1 class="Title">Iglesia</h1>
	</div>
	<div class="Block">
		<h1>Horarios de Oficina</h1>
		
		<h3>LUNES A VIERNES</h3>
		<p>
			8:00 AM A 12:00 MD
			<br>
			2:00 PM A 5:00 PM
		</p>
		<h3>SÁBADO</h3>
		<p>8:00 AM A 11:30 AM</p>

		<h3>TELÉFONOS</h3>
		<p>2473-8256 / 2473-8309</p>

		<h3>CORREO ELECTRÓNICO</h3>
		<p>boscosanjuan@gmail.com</p>
		<h3>Intenciones puedes solicitarlas 1 día antes en la oficina</h3>
		<br/>
		<br/>
	</div>
	<div class="Block">
		<h1>Eucaristías</h1>
		
		<h3>LUNES A SÁBADO</h3>
		<p>6:30 AM Y 07:00 PM</p>
		<h3>DOMINGOS</h3>
		<p>8:00 AM, 08:30 AM, 10:00 AM, 12:00 MD Y 07:00 PM</p>

		<h3>CONFESIONES</h3>
		<p>DOMINGOS DE 8:00 AM A 12:00 MD</p>
		<br/>
		<br/>
	</div>
	<app-footer></app-footer>
</main>