<main>
	<div class="Header">
		<p class="Header_Link_Selected">Inicio</p>
		<p class="Header_Link">Cejusa</p>
		<p class="Header_Link">Censes</p>
		<p class="Header_Link">Parroquia</p>
		<p class="Header_Link">Pastoral Juvenil</p>
		<p class="Header_Link">Salesianos</p>
	</div>
	<div class="Sub_Header">
		<p class="Header_Link" routerLink="/hogar">ITSI</p>
		<p class="Header_Link" routerLink="/buletin">Buletín Salesiano</p>
		<p class="Header_Link" routerLink="/iglesia">Iglesia</p>
		<p class="Header_Link" routerLink="/inspectoria">Inspectoría</p>
		<p class="Header_Link_Selected">Noticias</p>
		<p class="Header_Link" routerLink="/sobre-nosotros">Sobre Nosotros</p>
		<p class="Header_Link" routerLink="/contacto">Contáctanos</p>
	</div>
	<div class="Fixed_Image" style="background-image:url('./../../../../assets/Background.jpg'); height:20rem;">
		<h1 class="Title">Noticias</h1>
	</div>
	<div class="Block">
		<h1>Noticias Recientes.</h1>
		<div class="Separator"></div>
		<div class="News_Container">
			<h3>Facebook.</h3>
			<div class="News_Column">
				<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fcejusa.gt%2Fposts%2Fpfbid022rWTm7iSxzTtn2PVmhREqFGhHTezzkoU1kACweqtLuVRj5NUX5iHoQHY7GPnTbdHl&show_text=true&width=500" width="500" height="737" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
				<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fcejusa.gt%2Fposts%2Fpfbid02LowGBksHuAtHkaxUZttGwewx1uTRv6yjtQYAEmaiwUd4nrq5y1QiGUkiHp4qSeRxl&show_text=true&width=500" width="500" height="737" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
				<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fcejusa.gt%2Fposts%2Fpfbid028y1ELyatTRCAcGbQyrg2iTtR1bwAvJKWQ9kFTRsRqH7Kf8GGTxr2ZSQDjpoC22E6l&show_text=true&width=500" width="500" height="737" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
				<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fphoto%2F%3Ffbid%3D707317958061522%26set%3Da.514581284001858&show_text=true&width=500" width="500" height="355" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
			</div>
			<div class="News_Column">
				<div *ngFor="let post of news | async">
					<p>{{ post.author }}<p>
					<p>{{ post.date }}</p>
					<p>{{ post.htmlContent }}</p>
					<br>
				</div>
			</div>
		</div>
	</div>
	<app-footer></app-footer>
</main>