.News_Container {
	display: flex;
	margin-left: 10vw;
	height: 95vh;
	overflow-y: scroll;
	overflow-x: hidden;
}
.News_Container h1 {
	padding: 0;
	margin: 0;
	font-size: 40pt;
	font-weight: 700;
	background: transparent;
	-webkit-text-stroke: 3px rgb(0,0,0);
}

.News_Column {
	padding: 0;
	margin: 0;
	display: block;
	width: 40vw;
	padding: 10px;
}
.Facebook_Post {
	padding: 0;
	margin: 0;
	width: fit-content;
	height: fit-content;
	border-width: 2px;
	border-radius: 10px;
	margin-bottom: 2rem;
}

iframe {
	padding: 0;
	margin: 0;
	width:30vw;
	background: rgb(225,225,225);
	border-radius: 10px;
}

.News {
	padding: 0;
	margin: 0;
	width:30vw;
	border-width: 1px;
	background: rgb(225,225,225);
	border-radius: 10px;
	margin-bottom: 2rem;
}
.News p{
	padding: 0;
	margin: 0;
	margin-left: 1rem;
	color: black;
}
.News div {
	padding: 0;
	margin: 0;
	margin-bottom: 1rem;
	background: gray;
	width: 100%;
	height: 1px;
}