<main>
	<div class="Block">
		<div class="Sidebar">
			<p class="Nav" routerLink="/panel">Perfil del Usuario</p>
			<p class="Nav">Crear Noticia</p>
			<p class="Nav" (click)="authService.SignOut()">Cerrar Sesión</p>
		</div>

		<div class="Body">
			<div class="Welcome" *ngIf="authService.userData as user">
				<h3>{{(user.email) ? user.displayName : 'Autor desconocido'}}</h3>
			</div>
			<input type="text" placeholder="Data" #htmlData required/>
			<button (click)="createPost(htmlData.value)">Crear Noticia</button>
		</div>
	</div>
</main>