main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.Block {
	width: 25rem;
	height: 60vh;
	padding: 20px;
	background: rgb(50,50,50);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
}

h3, p {
	background: transparent;
	text-align: center;
	cursor: default;
}
.Link {
	color:rgb(190, 210, 255);
	background: transparent;
	text-align: center;
	text-decoration: underline;
	cursor: pointer;
}

input, button {
	width: 100%;
	height: 3rem;
	text-align: center;
	border-radius: 5px;
	border-width: 1px;
	margin-top: 0.5rem;
	transition: 0.2s ease-in-out;
}

button {
	background-color: rgb(90, 130, 160);
	color: white;
}
button:hover {
	transform: scale(1.05);
}

.Return {
	position: absolute;
	top: 1rem;
	left: 1rem;
	z-index: 5;
	width: 3rem;
	height: 3rem;
}

.Separator {
	height: 2rem;
	background: transparent;
}