<div class="displayTable">
	<div class="displayTableCell">
		<div class="authBlock">
			<h3>Recuperar Contraseña</h3>

			<p class="text-center">Por favor ingresa tu correo para recuperar tu contraseña.</p>

			<div class="formGroup">
				<input type="email" class="formControl" placeholder="Correo" #passwordResetEmail required/>
			</div>

			<div class="formGroup">
				<input type="submit" class="btn btnPrimary" value="Enviar solicitud" (click)="authService.ForgotPassword(passwordResetEmail.value)"/>
			</div>
		</div>

		<div class="redirectToLogin">
			<span class="redirect" routerLink="/sign-in">Ingresar</span>
		</div>
	</div>
</div>