<main>
	<div class="Block">
		<button class="Return" routerLink="/sign-in">←</button>
		<h3>Gracias por Registrarte</h3>

		<div class="Separator"></div>

		<div *ngIf="authService.userData as user">
			<p>
				Enviamos un correo de verificación a: 
				<strong>{{ user.email }}</strong>.
			</p>
			<p>Revisa tu correo y usa el link para recuperar tu contraseña.</p>
		</div>

		<button type="button" class="btn btnPrimary" (click)="authService.SendVerificationMail()">
			<i class="fas fa-redo-alt"></i>
			Reenviar Correo de verificación
		</button>
	</div>
</main>